<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAutoFillRequiresTextContentTypeForOneTimeCodeOnMac</key>
	<true/>
	<key>NSDockTilePlugIn</key>
	<string>DockTilePlugin.plugin</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>command</string>
				<string>tool</string>
				<string>sh</string>
				<string>zsh</string>
				<string>csh</string>
				<string>pl</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AppIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>DouDou Company shell scripts</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Folders</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.directory</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Shell</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.unix-executable</string>
			</array>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>DouDou Company Notification</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(GAITERM_NOTIFY_URL_SCHEME)</string>
			</array>
		</dict>
	</array>
	<key>GhosttyBuild</key>
	<string></string>
	<key>GhosttyCommit</key>
	<string></string>
	<key>LSEnvironment</key>
	<dict>
		<key>GHOSTTY_MAC_LAUNCH_SOURCE</key>
		<string>app</string>
	</dict>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>MDItemKeywords</key>
	<string>DouDou Company, GaiTerm, Terminal, AI Agents</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUPublicEDKey</key>
	<string>XE4x4lbdwUmG/1EdTnS8u/uIbEnIVIlVA4jSo+dNdd0=</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.sipiyou.gaitermSurfaceId</string>
			<key>UTTypeDescription</key>
			<string>DouDou Company Terminal Surface Identifier</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
	</array>
</dict>
</plist>
